APP_ENV=prod
APP_DEBUG=false
APP_SECRET=change_me_to_a_random_32_char_string
APP_URL=https://ton-sous-domaine.alwaysdata.net

# Alwaysdata : remplace <username> par ton nom de compte
DATABASE_URL="mysql://<username>:<password>@mysql-<username>.alwaysdata.net:3306/<username>_sportpartner?serverVersion=8.0&charset=utf8mb4"

# Mailer — SMTP Alwaysdata (plan gratuit)
MAILER_DSN=smtp://<username>:<password>@smtp-<username>.alwaysdata.net:587?encryption=tls
MAILER_FROM_ADDRESS=noreply@ton-domaine.com
MAILER_FROM_NAME="SportPartner"

###> strava ###
STRAVA_CLIENT_ID=your_strava_client_id
STRAVA_CLIENT_SECRET=your_strava_client_secret
STRAVA_WEBHOOK_VERIFY_TOKEN=your_random_verify_token
###< strava ###

###> stripe ###
STRIPE_SECRET_KEY=sk_live_your_secret_key
STRIPE_PUBLISHABLE_KEY=pk_live_your_publishable_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
STRIPE_PRICE_ID_MONTHLY=price_your_monthly_price_id
STRIPE_PRICE_ID_YEARLY=price_your_yearly_price_id
STRIPE_CURRENCY=eur
###< stripe ###

###> jwt ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=your_jwt_passphrase
###< jwt ###
