###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_to_a_random_32_char_string
APP_URL=http://localhost:8000
APP_DEBUG=true
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://app:password@mysql:3306/sport_health?serverVersion=8.0&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
# Local : MailHog (inclus dans Docker Compose)
MAILER_DSN=smtp://mailhog:1025
MAILER_FROM_ADDRESS=noreply@yourdomain.com
MAILER_FROM_NAME="Sport Health App"
###< symfony/mailer ###


###> strava ###
# Créer une app sur https://www.strava.com/settings/api
STRAVA_CLIENT_ID=your_strava_client_id
STRAVA_CLIENT_SECRET=your_strava_client_secret
# Token aléatoire pour vérifier les webhooks Strava (invente-le toi-même)
STRAVA_WEBHOOK_VERIFY_TOKEN=your_random_verify_token
###< strava ###

###> stripe ###
# Clés disponibles sur https://dashboard.stripe.com/apikeys
STRIPE_SECRET_KEY=sk_test_your_secret_key
STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
# Obtenu via : stripe listen --print-secret
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
# IDs des prix créés dans Stripe Dashboard
STRIPE_PRICE_ID_MONTHLY=price_your_monthly_price_id
STRIPE_PRICE_ID_YEARLY=price_your_yearly_price_id
STRIPE_CURRENCY=eur
###< stripe ###

###> jwt ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=your_jwt_passphrase
###< jwt ###
